*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*:before,
*:after
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html
{
    font-family: sans-serif;

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body
{
    font-family: 'Helvetica Neue', Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    font-size: 62.5%;
    line-height: 1.42857143;

    overflow-x: hidden;

    margin: 0;
    padding: 0;

    color: #333;
    background-color: #fff;
}

a
{
    text-decoration: none;
}

ins
{
    text-decoration: underline;
}

input,
button,
select,
textarea
{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    outline: 0;
}
select
{
    -webkit-appearance: none; /*for chrome*/
}

input::-ms-clear,
textarea::-ms-clear
{
    display: none;
}

a[href],
div,
span,
label,
button,
input[type='reset'],
input[type='button'],
input[type='submit']
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
{
    display: block;
}

audio,
canvas,
progress,
video
{
    display: inline-block;

    vertical-align: baseline;
}

audio:not([controls])
{
    display: none;

    height: 0;
}

[hidden],
template
{
    display: none;
}

a
{
    text-decoration: none;

    background-color: transparent;
}

a:hover,
a:focus
{
    text-decoration: none;
}

a:active,
a:hover
{
    outline: 0;
}

a:focus
{
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

abbr[title],
abbr[data-original-title]
{
    cursor: help;

    border-bottom: 1px dotted #777;
}

address
{
    font-style: normal;
    line-height: 1.42857143;

    margin-bottom: 20px;
}

code,
kbd,
pre,
samp
{
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

code
{
    font-size: 90%;

    padding: 2px 4px;

    color: #c7254e;
    border-radius: 4px;
    background-color: #f9f2f4;
}

kbd
{
    font-size: 90%;

    padding: 2px 4px;

    color: #fff;
    border-radius: 3px;
    background-color: #333;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}

kbd kbd
{
    font-size: 100%;
    font-weight: bold;

    padding: 0;

    -webkit-box-shadow: none;
            box-shadow: none;
}

pre
{
    font-size: 1.3em;
    line-height: 1.42857143;

    display: block;

    margin: 0;
    padding: 9.5px;

    word-wrap: break-word;
    word-break: break-all;

    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
}

pre + pre
{
    margin-top: 10px;
}

pre code
{
    font-size: inherit;

    padding: 0;

    white-space: pre-wrap;

    color: inherit;
    border-radius: 0;
    background-color: transparent;
}

figure
{
    margin: 0;
}

img
{
    vertical-align: middle;
}

b,
strong
{
    font-weight: bold;
}

blockquote
{
    font-size: 1.75em;

    margin: 0 0 1.25em;
    padding: .625em 1.25em;

    border-left: 5px solid #eee;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child
{
    margin-bottom: 0;
}

blockquote footer,
blockquote small
{
    font-size: 80%;
    line-height: 1.42857143;

    display: block;

    color: #777;
}

blockquote footer:before,
blockquote small:before
{
    content: '\2014 \00A0';
}

dfn
{
    font-style: italic;
}

dl
{
    margin-top: 0;
    margin-bottom: 1.25em;
}

dt,
dd
{
    line-height: 1.42857143;
}

del
{
    text-decoration: line-through;
}

dt
{
    font-weight: bold;
}

dd
{
    margin-left: 0;
}

h1
{
    font-size: 2em;

    margin: .67em 0;
}

mark
{
    padding: .2em;

    color: #000;
    background-color: #fcf8e3;
}

small
{
    font-size: 80%;
}

sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sup
{
    top: -.5em;
}

sub
{
    bottom: -.25em;
}

img
{
    border: 0;
}

svg:not(:root)
{
    overflow: hidden;
}

figure
{
    margin: 1em 2.5em;
}

hr
{
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;

    color: inherit;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small
{
    font-weight: normal;
    line-height: 1;

    color: #777;
}

h1,
h2,
h3
{
    margin-top: 1.25em;
    margin-bottom: .625em;
}

h1 small,
h2 small,
h3 small
{
    font-size: 65%;
}

h4,
h5,
h6
{
    margin-top: .625em;
    margin-bottom: .625em;
}

h4 small,
h5 small,
h6 small
{
    font-size: 75%;
}

h1
{
    font-size: 2.125em;
}

h2
{
    font-size: 1.875em;
}

h3
{
    font-size: 24px;
}

h4
{
    font-size: 1.0625em;
}

h5
{
    font-size: .875em;
}

h6
{
    font-size: .75em;
}

p
{
    margin: 0 0 .625em;
}

ul,
ol
{
    margin-top: 0;
    margin-bottom: .625em;
}

ul ul,
ol ul,
ul ol,
ol ol
{
    margin-bottom: 0;
}

pre
{
    overflow: auto;
}

code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea
{
    font: inherit;

    margin: 0;

    color: inherit;
}

button
{
    overflow: visible;
}

button,
select
{
    text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit']
{
    cursor: pointer;

    -webkit-appearance: button;
}

button[disabled],
html input[disabled]
{
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

input
{
    line-height: normal;
}

input[type='checkbox'],
input[type='radio']
{
    padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
{
    height: auto;
}

input[type='search']
{
    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}

input:-ms-input-placeholder
{
    opacity: .8;
    color: #a4a4a4;
}

input:-moz-placeholder
{
    opacity: .8;
    color: #a4a4a4;
}

input::-moz-placeholder
{
    opacity: .8;
    color: #a4a4a4;
}

input:-webkit-input-placeholder
{
    opacity: .8;
    color: #a4a4a4;
}

input::-webkit-input-placeholder
{
    opacity: .8;
    color: #a4a4a4;
}

textarea:-ms-input-placeholder
{
    opacity: .8;
    color: #a4a4a4;
}

textarea:-moz-placeholder
{
    opacity: .8;
    color: #a4a4a4;
}

textarea::-moz-placeholder
{
    opacity: .8;
    color: #a4a4a4;
}

textarea:-webkit-input-placeholder
{
    opacity: .8;
    color: #a4a4a4;
}

textarea::-webkit-input-placeholder
{
    opacity: .8;
    color: #a4a4a4;
}

fieldset
{
    margin: 0 .125em;
    padding: .35em .625em .75em;

    border: 1px solid #c0c0c0;
}

legend
{
    padding: 0;

    border: 0;
}

textarea
{
    overflow: auto;
}

optgroup
{
    font-weight: bold;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th
{
    padding: 0;
}

::-webkit-selection
{
    color: rgba(0, 0, 0, .87);
    background-color: #cce2ff;
}

::-moz-selection
{
    color: rgba(0, 0, 0, .87);
    background-color: #cce2ff;
}

::selection
{
    color: rgba(0, 0, 0, .87);
    background-color: #cce2ff;
}

input::-webkit-selection,
textarea::-webkit-selection
{
    color: rgba(0, 0, 0, .87);
    background-color: rgba(100, 100, 100, .4);
}

input::-moz-selection,
textarea::-moz-selection
{
    color: rgba(0, 0, 0, .87);
    background-color: rgba(100, 100, 100, .4);
}

input::selection,
textarea::selection
{
    color: rgba(0, 0, 0, .87);
    background-color: rgba(100, 100, 100, .4);
}

h1 > a,
h2 > a
{
    line-height: 1.2;
}

h1 > a::before,
h2 > a::before
{
    bottom: -.0625em;

    height: .1875em;
}

h3 > a,
h4 > a
{
    line-height: 1.1;
}

h3 > a::before,
h4 > a::before
{
    bottom: 0;

    height: .125em;
}

@media print
{
    *,
    *:before,
    *:after
    {
        color: #000 !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited
    {
        text-decoration: underline;
    }
    a[href]:after
    {
        content: ' (' attr(href) ')';
    }
    abbr[title]:after
    {
        content: ' (' attr(title) ')';
    }
    a[href^='#']:after,
    a[href^='javascript:']:after
    {
        content: '';
    }
    pre,
    blockquote
    {
        border: 1px solid #999;

        page-break-inside: avoid;
    }
    thead
    {
        display: table-header-group;
    }
    tr,
    img
    {
        page-break-inside: avoid;
    }
    img
    {
        max-width: 100% !important;
    }
    p,
    h2,
    h3
    {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3
    {
        page-break-after: avoid;
    }
    select
    {
        background: #fff !important;
    }
    .navbar
    {
        display: none;
    }
    .btn > .caret,
    .dropup > .btn > .caret
    {
        border-top-color: #000 !important;
    }
    .label
    {
        border: 1px solid #000;
    }
    .table
    {
        border-collapse: collapse !important;
    }
    .table td,
    .table th
    {
        background-color: #fff !important;
    }
    .table-bordered th,
    .table-bordered td
    {
        border: 1px solid #ddd !important;
    }
}


/*其它*/

.fr
{
    float: right;
}

.fl
{
    float: left;
}

.tr
{
    text-align: right;
}

.tl
{
    text-align: left;
}

.tv
{
    text-align: center;
}

.mit
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.box-shadow
{
    box-shadow: 0 .0625em .0625em rgba(0, 0, 0, .075), 0 0 .5em rgba(102, 175, 233, .6);
}

.clearfix
{
    clear: both;
}


/*状态*/

.hidden
{
    display: none !important;
}

.visible
{
    display: block !important;
}

.visible-inline
{
    display: inline !important;
}

.visible-inline-block
{
    display: inline-block !important;
}

table.visible
{
    display: table !important;
}

tr.visible
{
    display: table-row !important;
}

th.visible,
td.visible
{
    display: table-cell !important;
}

table.visible-inline,
table.visible-inline-block
{
    display: inline-table !important;
}


/*动画*/

.transition
{
    -webkit-animation-duration: .2s;
            animation-duration: .2s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}


/*颜色*/

.font-info-color
{
    color: #5bc0de !important;
}

.border-info-color
{
    border-color: #5bc0de !important;
}

.backgroud-info-color
{
    background-color: #5bc0de !important;
}

.font-warning-color
{
    color: #f0ad4e !important;
}

.border-warning-color
{
    border-color: #f0ad4e !important;
}

.backgroud-warning-color
{
    background-color: #f0ad4e !important;
}

.font-danger-color
{
    color: #d9534f !important;
}

.border-danger-color
{
    border-color: #d9534f !important;
}

.backgroud-danger-color
{
    background-color: #d9534f !important;
}


/*网格*/

.row-th-1 > .item
{
    width: 100%;
}

.row-th-1 > *[class^='row-col-']
{
    width: 100% !important;
}

.row-th-2 > .item
{
    width: 50%;
}

.row-th-2 > *[class^='row-col-']
{
    width: 50% !important;
}

.row-th-3 > .item
{
    width: 33.3333%;
}

.row-th-3 > *[class^='row-col-']
{
    width: 33.3333% !important;
}

.row-th-4 > .item
{
    width: 25%;
}

.row-th-4 > *[class^='row-col-']
{
    width: 25% !important;
}

.row-th-5 > .item
{
    width: 20%;
}

.row-th-5 > *[class^='row-col-']
{
    width: 20% !important;
}

.row-th-6 > .item
{
    width: 16.6666%;
}

.row-th-6 > *[class^='row-col-']
{
    width: 16.6666% !important;
}

.row-th-7 > .item
{
    width: 14.285%;
}

.row-th-7 > *[class^='row-col-']
{
    width: 14.285% !important;
}

.row-th-8 > .item
{
    width: 12.5%;
}

.row-th-8 > *[class^='row-col-']
{
    width: 12.5% !important;
}

.row-th-9 > .item
{
    width: 11.1111%;
}

.row-th-9 > *[class^='row-col-']
{
    width: 11.1111% !important;
}

.row-th-10 > .item
{
    width: 10%;
}

.row-th-10 > *[class^='row-col-']
{
    width: 10% !important;
}

.row-th-11 > .item
{
    width: 9.0909%;
}

.row-th-11 > *[class^='row-col-']
{
    width: 9.0909% !important;
}

.row-th-12 > .item
{
    width: 8.3333%;
}

.row-th-12 > *[class^='row-col-']
{
    width: 8.3333% !important;
}

/*栅格*/

*[class^='row-col-']
{
    position: relative;

    float: left;

    min-height: 1em;
}

.row-col-1
{
    width: 8.33333333% !important;
}

.row-col-2
{
    width: 16.66666667% !important;
}

.row-col-3
{
    width: 25% !important;
}

.row-col-4
{
    width: 33.33333333% !important;
}

.row-col-5
{
    width: 41.66666667% !important;
}

.row-col-6
{
    width: 50% !important;
}

.row-col-7
{
    width: 58.33333333% !important;
}

.row-col-8
{
    width: 66.66666667% !important;
}

.row-col-9
{
    width: 75% !important;
}

.row-col-10
{
    width: 83.33333333% !important;
}

.row-col-11
{
    width: 91.66666667% !important;
}

.row-col-12
{
    width: 100% !important;
}

@media (max-width:992px)
{
    *[class^='row-col-']
    {
        width: 100% !important;
    }
}
