/*Dialog*/
.api.dialog
{
    position: fixed;
    z-index: 2017;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 0;
    max-width: 100%;
    height: 0;
    max-height: 100%;
    margin: auto;

    border-radius: .25em;
    background-color: #fff;
}
.api.dialog + .layer
{
    position: fixed;
    z-index: 2016;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,.15);

    filter: alpha(opacity=15);
}

.api.dialog.transition.transition-visible
{
    -webkit-transition: height .2s,width .2s;
       -moz-transition: height .2s,width .2s;
         -o-transition: height .2s,width .2s;
            transition: height .2s,width .2s;
    -webkit-animation-name: none;
            animation-name: none;
}

.api.dialog.transition
{
    -webkit-animation-name: dialog-visible;
            animation-name: dialog-visible;
}

@-webkit-keyframes dialog-visible
{
    from
    {
        width: 0;
        height: 0;

        opacity: 0;
    }
}

@keyframes dialog-visible
{
    from
    {
        width: 0;
        height: 0;

        opacity: 0;
    }
}

.api.dialog.transition.hidden
{
    display: block;
    overflow: hidden;

    -webkit-animation-name: dialog-hidden;
            animation-name: dialog-hidden;
}

@-webkit-keyframes dialog-hidden
{
    to
    {
        top: 100%;
        right: 100%;

        display: none;

        width: 0;
        height: 0;

        opacity: 0;
    }
}

@keyframes dialog-hidden
{
    to
    {
        top: 100%;
        right: 100%;

        display: none;

        width: 0;
        height: 0;

        opacity: 0;
    }
}

.api.dialog > .header > .fa,
.api.dialog > .header > *[class^='fa-']
{
    margin: 0 .125em;

    cursor: pointer;

    border-radius: 50%;
}
.api.dialog > .header > .fa:hover,
.api.dialog > .header > *[class^='fa-']:hover
{
    color: #fff;
    background-color: #000;
}

.api.dialog > .header,
.api.dialog > .contaiter,
.api.dialog > .footer
{
    position: absolute;
    right: 0;
    left: 0;
}
.api.dialog > .header
{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.api.dialog > .footer
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.api.dialog > .footer,
.api.dialog > .header
{
    height: 2.771em;
}
.api.dialog > .contaiter
{
    top: 0;
    bottom: 0;

    overflow: auto;
}
.api.dialog > .footer
{
    bottom: 0;
}
.api.dialog > .header + .contaiter,
.api.dialog > .header + .footer + .contaiter
{
    top: 2.771em;

    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.api.dialog > .footer + .contaiter
{
    bottom: 2.771em;

    border-bottom-width: 0;
}
.api.dialog > .header + .footer + .contaiter
{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/*Taskbar*/
.api.taskbar
{
    position: fixed;
    z-index: 103171;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    margin: auto;
    padding: .25em 1em;

    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
    background-color: #fff;
}
.api.taskbar > i
{
    position: absolute;
    right: 0;
    bottom: 100%;
    left: 0;

    width: 3.5em;
    margin: auto;
    margin-bottom: -.0625em;

    cursor: pointer;
    text-align: center;

    border: inherit;
    border-bottom-width: 0;
    border-radius: inherit;
    background-color: inherit;
}
.api.taskbar > .item
{
    border: inherit;
    border-radius: .25em;
}

.api.taskbar > .item + .item
{
    margin-left: .25em;
}

.api.taskbar > i.fa-angle-double-up
{
    display: none;
}
.api.taskbar.hidden
{
    display: block;
}
.api.taskbar.hidden > *
{
    display: none;
}
.api.taskbar.hidden > i.fa-angle-double-up
{
    display: block;
}
