
.ui
{
    font-size: 1.2em;

    position: relative;

    border-radius: .25em;
}

.ui *,
.ui:after,
.ui:before,
.ui *:after,
.ui *:before
{
    font-size: 100%;
}

.ui,
.ui *,
.ui:after,
.ui:before,
.ui *:after,
.ui *:before
{
    line-height: 1.42857143;

    border-collapse: separate;

    vertical-align: middle;
    text-decoration: none;
    text-transform: none;

    outline: 0;
    text-shadow: none;
}

.ui .fa,
.ui *[class^='fa-']
{
    line-height: 1;

    height: 1.345em;
    padding-right: .25em;
    padding-left: .25em;
}

.ui.menu > *:first-child,
.ui.labels > *:first-child,
.ui.menu > .hidden:first-child + *,
.ui.labels > .hidden:first-child + *,
.ui.menu > .hidden:first-child + .hidden + *
.ui.labels > .hidden:first-child + .hidden + *
{
    border-top-left-radius: inherit;
}

.ui.menu > *:only-child,
.ui.labels > *:only-child
{
    border-top-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.ui.menu > *:last-child,
.ui.labels > *:last-child
{
    border-bottom-right-radius: inherit;
}

.ui.menu > * + *:last-child,
.ui.labels > * + *:last-child
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*按钮或标签*/

.ui.item,
.ui.link,
.ui.hint,
.ui.check,
.ui.label,
.ui.button,
.ui.content,
.ui.menu .item,
.ui.links .link,
.ui.labels .label,
.ui.buttons .button
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.ui.item,
.ui.link,
.ui.label,
.ui.check,
.ui.button,
.ui.select,
.ui.content,
.ui.menu .item,
.ui.links .link,
.ui.labels .label,
.ui.select .option,
.ui.select .select,
.ui.buttons .button,
.ui.input > .hint,
.ui.inputs > .input > .hint,
input.ui.input,
textarea.ui.input,
.ui.input > input,
.ui.input > textarea
{
    position: relative;

    padding: .375em 1em;

    -webkit-transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease;
            transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease;
    text-align: center;

    background-color: transparent;

    -webkit-tap-highlight-color: transparent;
}

input.ui.input,
textarea.ui.input,
.ui.input > input,
.ui.input > textarea
{
    height: 2.3335em;
}
.ui.select
{
    min-height: 2.3335em;
}

.ui.item,
.ui.link,
.ui.menu,
.ui.label,
.ui.button,
.ui.labels,
.ui.content,
.ui.links .link,
.ui.select .option,
.ui.select .select,
.ui.buttons .button,
input.ui.input,
textarea.ui.input,
.ui.input > input,
.ui.input > .hint,
.ui.input > textarea,
.ui.inputs > .input > .hint
{
    border-width: .0625em;
}
.ui.item,
.ui.menu,
.ui.link,
.ui.label,
.ui.links,
.ui.labels,
.ui.select,
.ui.button,
.ui.buttons,
.ui.content,
input.ui.input,
textarea.ui.input,
.ui.input > .hint,
.ui.input > input,
.ui.input > textarea,
.ui.inputs > .input > .hint
{
    border-style: solid;
    border-color: #c0c0c0;
}

.ui.menu .item,
.ui.links .link,
.ui.labels .label,
.ui.select .option,
.ui.select .select,
.ui.buttons .button
{
    border-style: inherit;
    border-color: inherit;
}
.ui.item,
.ui.link,
.ui.label,
.ui.button,
input.ui.input,
textarea.ui.input
{
    display: inline-block;
}
.ui.menu,
.ui.links,
.ui.input,
.ui.select,
.ui.labels,
.ui.buttons,
.ui.inputs > .input
{
    display: inline-table;
}
.ui.links,
.ui.select,
.ui.buttons,
.ui.menu .item,
.ui.labels .label,
.ui.select .option
{
    border-width: 0;
}
.ui.menu .item,
.ui.links .link,
.ui.labels .label,
.ui.buttons .button
{
    float: left;
}
.ui.menu .item + .item,
.ui.labels .label + .label
{
    border-left-width: .0625em;
}

.ui.menu .item:first-child,
.ui.links .link:first-child,
.ui.labels .label:first-child
{
    border-bottom-left-radius: inherit;
}
.ui.menu .item:last-child,
.ui.links .link:last-child,
.ui.labels .label:last-child
{
    border-top-right-radius: inherit;
}

.ui.link:before,
.ui.links .link:before,
.ui.label.convex:after,
.ui.label.convex:before,
.ui.label.concave + .label:after,
.ui.label.concave + .label:before,
.ui.labels > .label.convex:after,
.ui.labels > .label.convex:before,
.ui.labels > .label.concave + .label:after,
.ui.labels > .label.concave + .label:before,
.ui.input > .hint:after,
.ui.input > .hint:before,
.ui.inputs > .input > .hint:after,
.ui.inputs > .input > .hint:before,
.ui.menu > .item > .ui.menu > .item:after,
.ui.menu > .item > .ui.menu > .item:before
{
    position: absolute;

    width: 0;
    height: 0;
    margin: auto;

    content: '';

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.ui.label.convex:after,
.ui.label.convex:before,
.ui.label.concave + .label:after,
.ui.label.concave + .label:before,
.ui.labels > .label.convex:after,
.ui.labels > .label.convex:before,
.ui.labels > .label.concave + .label:after,
.ui.labels > .label.concave + .label:before
{
    top: 0;
    bottom: 0;
}
.ui.label.convex:after,
.ui.label.convex:before,
.ui.labels > .label.convex:after,
.ui.labels > .label.convex:before
{
    left: 100%;
}

.ui.label.concave + .label:after,
.ui.label.concave + .label:before,
.ui.labels > .label.concave + .label:after,
.ui.labels > .label.concave + .label:before
{
    right: 100%;
}
.ui.label.convex:after,
.ui.label.convex:before,
.ui.input > .hint:after,
.ui.input > .hint:before,
.ui.inputs > .input > .hint:after,
.ui.inputs > .input > .hint:before,
.ui.label.concave + .label:after,
.ui.label.concave + .label:before,
.ui.labels > .label.convex:after,
.ui.labels > .label.convex:before,
.ui.labels > .label.concave + .label:after,
.ui.labels > .label.concave + .label:before,
.ui.menu > .item > .ui.menu > .item:after,
.ui.menu > .item > .ui.menu > .item:before
{
    border-style: solid;
    border-color: transparent;
}

.ui.label.extra
{
    line-height: inherit;

    min-width: -webkit-max-content;
    min-width:    -moz-max-content;
    min-width:         max-content;
    margin: 0;

    background-color: #fff;
}

.ui.label.extra:before
{
    position: absolute;
    top: 100%;

    width: 0;
    height: 0;

    content: '';

    border-width: 0;
    border-style: solid;
    border-color: transparent;
    background-color: transparent !important;
}
.ui.label.extra
{
    left: -2.2625em;/*&{margin-right}+^{border-left-width,padding-left}*/

    margin-right: -1.2em;/*&:before{border-left-width}*/
    padding-left: 2.2625em;/*&{left}*/
}
.ui.label.extra:before
{
    left: 0;

    border-right-width: 1.2em;
    border-right-color: inherit;
    border-bottom-width: 1.2em;
}

.ui.item,
.ui.menu .item,
.ui.input > .hint,
.ui.inputs > .input > .hint
{
    box-shadow: 0 .0625em .125em 0 rgba(34, 36, 38, .15);
}
.ui.item,
.ui.link,
.ui.button,
.ui.menu .item,
.ui.links .link,
.ui.select .option,
.ui.buttons .button
{
    cursor: pointer;
}
.ui.item:hover,
.ui.menu .item:hover
{
    background-color: #f5f5f5;
}

.ui.select > .select,
.ui.menu > .item > .ui.menu
{
    position: absolute;
    z-index: 2017;

    display: none;

    margin: auto;

    -webkit-animation-name: transition-line-height;
            animation-name: transition-line-height;

    border-width: .0625em;
    background-color: #fff;
}
.ui.menu > .item:hover > .ui.menu
{
    display: block;
}
.ui.menu > .item:hover > .ui.menu > .item
{
    line-height: inherit;
}
@-webkit-keyframes transition-line-height
{
    from
    {
        line-height: 0;
    }
    to
    {
        line-height: inherit;
    }
}
@keyframes transition-line-height
{
    from
    {
        line-height: 0;
    }
    to
    {
        line-height: inherit;
    }
}
.ui.menu > .item > .ui.menu > .item
{
    width: 100%;

    border-width: 0;
    border-radius: 0;
    box-shadow: none;
}
.ui.select .option + .option,
.ui.menu > .item > .ui.menu > .item + .item
{
    border-top-width: .0625em;
}
.ui.menu > .item > .ui.menu > .item:first-child
{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.ui.menu > .item > .ui.menu > .item:last-child
{
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.ui.menu > .item > .ui.menu.towards-up > .item.last-child:hover:after
{
    border-top-color: #f5f5f5;
}
.ui.menu > .item > .ui.menu.towards-up > .item:last-child:hover:after
{
    border-top-color: #f5f5f5;
}
.ui.menu > .item > .ui.menu.towards-right > .item:first-child:hover:after
{
    border-right-color: #f5f5f5;
}
.ui.menu > .item > .ui.menu.towards-down > .item:first-child:hover:after
{
    border-bottom-color: #f5f5f5;
}
.ui.menu > .item > .ui.menu.towards-left > .item:first-child:hover:after
{
    border-left-color: #f5f5f5;
}
.ui.menu > .item > .ui.menu.towards-up,
.ui.menu > .item > .ui.menu.towards-down
{
    right: -.0625em;
    left: -.0625em;
}
.ui.input > .hint.towards-up,
.ui.inputs > .input > .hint.towards-up,
.ui.menu > .item > .ui.menu.towards-up
{
    bottom: 100%;

    margin-bottom: .8em;
}
.ui.label.convex:after,
.ui.label.concave + .label:after,
.ui.labels > .label.convex:after,
.ui.labels > .label.concave + .label:after,
.ui.input > .hint.towards-up:after,
.ui.input > .hint.towards-right:after,
.ui.input > .hint.towards-down:after,
.ui.input > .hint.towards-left:after,
.ui.inputs > .input > .hint.towards-up:after,
.ui.inputs > .input > .hint.towards-right:after,
.ui.inputs > .input > .hint.towards-left:after,
.ui.inputs > .input > .hint.towards-down:after,
.ui.menu > .item > .ui.menu.towards-up > .item.last-child:after,
.ui.menu > .item > .ui.menu.towards-down > .item:first-child:after,
.ui.menu > .item > .ui.menu.towards-right > .item:first-child:after,
.ui.menu > .item > .ui.menu.towards-left > .item:first-child:after
{
    z-index: 10;

    border-width: .5em;
}
.ui.menu > .item > .ui.menu.towards-up > .item:last-child:after
{
    z-index: 10;

    border-width: .5em;
}
.ui.label.convex:before,
.ui.label.concave + .label:before,
.ui.labels > .label.convex:before,
.ui.labels > .label.concave + .label:before,
.ui.input > .hint.towards-up:before,
.ui.input > .hint.towards-right:before,
.ui.input > .hint.towards-down:before,
.ui.input > .hint.towards-left:before,
.ui.inputs > .input > .hint.towards-up:before,
.ui.inputs > .input > .hint.towards-right:before,
.ui.inputs > .input > .hint.towards-left:before,
.ui.inputs > .input > .hint.towards-down:before,
.ui.menu > .item > .ui.menu.towards-up > .item.last-child:before,
.ui.menu > .item > .ui.menu.towards-down > .item:first-child:before,
.ui.menu > .item > .ui.menu.towards-right > .item:first-child:before,
.ui.menu > .item > .ui.menu.towards-left > .item:first-child:before
{
    z-index: 5;

    border-width: .6em;
}
.ui.menu > .item > .ui.menu.towards-up > .item:last-child:before
{
    z-index: 5;

    border-width: .6em;
}
.ui.input > .hint.towards-up:after,
.ui.input > .hint.towards-up:before,
.ui.input > .hint.towards-down:after,
.ui.input > .hint.towards-down:before,
.ui.inputs > .input > .hint.towards-up:after,
.ui.inputs > .input > .hint.towards-up:before,
.ui.inputs > .input > .hint.towards-down:after,
.ui.inputs > .input > .hint.towards-down:before,
.ui.menu > .item > .ui.menu.towards-up > .item.last-child:after,
.ui.menu > .item > .ui.menu.towards-up > .item.last-child:before,
.ui.menu > .item > .ui.menu.towards-down > .item:first-child:after,
.ui.menu > .item > .ui.menu.towards-down > .item:first-child:before
{
    right: 0;
    left: 0;
}
.ui.menu > .item > .ui.menu.towards-up > .item:last-child:after,
.ui.menu > .item > .ui.menu.towards-up > .item:last-child:before
{
    right: 0;
    left: 0;
}
.ui.input > .hint.towards-up:after,
.ui.input > .hint.towards-up:before,
.ui.inputs > .input > .hint.towards-down:after,
.ui.inputs > .input > .hint.towards-down:before,
.ui.menu > .item > .ui.menu.towards-up > .item.last-child:after,
.ui.menu > .item > .ui.menu.towards-up > .item.last-child:before
{
    top: 100%;
}
.ui.menu > .item > .ui.menu.towards-up > .item:last-child:after,
.ui.menu > .item > .ui.menu.towards-up > .item:last-child:before
{
    top: 100%;
}
.ui.input > .hint.towards-up:after,
.ui.inputs > .input > .hint.towards-up:after,
.ui.menu > .item > .ui.menu.towards-up > .item.last-child:after
{
    border-top-color: #fff;
}
.ui.menu > .item > .ui.menu.towards-up > .item:last-child:after
{
    border-top-color: #fff;
}
.ui.input > .hint.towards-up:before,
.ui.inputs > .input > .hint.towards-up:before,
.ui.menu > .item > .ui.menu.towards-up > .item.last-child:before
{
    border-top-color: inherit;
}
.ui.menu > .item > .ui.menu.towards-up > .item:last-child:before
{
    border-top-color: inherit;
}
.ui.input > .hint.towards-down,
.ui.inputs > .input > .hint.towards-down,
.ui.menu > .item > .ui.menu.towards-down
{
    top: 100%;

    margin-top: .8em;
}
.ui.input > .hint.towards-down:after,
.ui.input > .hint.towards-down:before,
.ui.inputs > .input > .hint.towards-down:after,
.ui.inputs > .input > .hint.towards-down:before,
.ui.menu > .item > .ui.menu.towards-down > .item:first-child:after,
.ui.menu > .item > .ui.menu.towards-down > .item:first-child:before
{
    bottom: 100%;
}
.ui.input > .hint.towards-down:after,
.ui.inputs > .input > .hint.towards-down:after,
.ui.menu > .item > .ui.menu.towards-down > .item:first-child:after
{
    border-bottom-color: #fff;
}
.ui.input > .hint.towards-down:before,
.ui.inputs > .input > .hint.towards-down:before,
.ui.menu > .item > .ui.menu.towards-down > .item:first-child:before
{
    border-bottom-color: inherit;
}

.ui.menu > .item > .ui.menu.towards-left,
.ui.menu > .item > .ui.menu.towards-right
{
    top: -.0625em;
    bottom: auto;
}
.ui.input > .hint.towards-left,
.ui.inputs > .input > .hint.towards-left,
.ui.menu > .item > .ui.menu.towards-left
{
    right: 100%;

    margin-right: .8em;
}
.ui.input > .hint.towards-right,
.ui.inputs > .input > .hint.towards-right,
.ui.menu > .item > .ui.menu.towards-right
{
    left: 100%;

    margin-left: .8em;
}
.ui.input > .hint.towards-left,
.ui.input > .hint.towards-right,
.ui.inputs > .input > .hint.towards-left,
.ui.inputs > .input > .hint.towards-right,
.ui.menu > .item > .ui.menu.towards-left > .item,
.ui.menu > .item > .ui.menu.towards-right > .item
{
    white-space: nowrap;
    word-break: keep-all;
}
.ui.input > .hint.towards-left:after,
.ui.input > .hint.towards-left:before,
.ui.input > .hint.towards-right:after,
.ui.input > .hint.towards-right:before,
.ui.inputs > .input > .hint.towards-left:after,
.ui.inputs > .input > .hint.towards-left:before,
.ui.inputs > .input > .hint.towards-right:after,
.ui.inputs > .input > .hint.towards-right:before,
.ui.menu > .item > .ui.menu.towards-left > .item:after,
.ui.menu > .item > .ui.menu.towards-left > .item:before,
.ui.menu > .item > .ui.menu.towards-right > .item:after,
.ui.menu > .item > .ui.menu.towards-right > .item:before
{
    top: 0;
    bottom: 0;
}
.ui.input > .hint.towards-right:after,
.ui.input > .hint.towards-right:before,
.ui.inputs > .input > .hint.towards-right:after,
.ui.inputs > .input > .hint.towards-right:before,
.ui.menu > .item > .ui.menu.towards-right > .item:first-child:after,
.ui.menu > .item > .ui.menu.towards-right > .item:first-child:before
{
    right: 100%;
}
.ui.label.concave + .label:after,
.ui.labels > .label.concave + .label:after,
.ui.input > .hint.towards-right:after,
.ui.inputs > .input > .hint.towards-right:after,
.ui.menu > .item > .ui.menu.towards-right > .item:first-child:after
{
    border-right-color: #fff;
}
.ui.label.concave + .label:before,
.ui.labels > .label.concave + .label:before,
.ui.input > .hint.towards-right:before,
.ui.inputs > .input > .hint.towards-right:before,
.ui.menu > .item > .ui.menu.towards-right > .item:first-child:before
{
    border-right-color: inherit;
}
.ui.input > .hint.towards-left:after,
.ui.input > .hint.towards-left:before,
.ui.inputs > .input > .hint.towards-left:after,
.ui.inputs > .input > .hint.towards-left:before,
.ui.menu > .item > .ui.menu.towards-left > .item:first-child:after,
.ui.menu > .item > .ui.menu.towards-left > .item:first-child:before
{
    left: 100%;
}
.ui.label.convex:after,
.ui.labels > .label.convex:after,
.ui.input > .hint.towards-left:after,
.ui.inputs > .input > .hint.towards-left:after,
.ui.menu > .item > .ui.menu.towards-left > .item:first-child:after
{
    border-left-color: #fff;
}
.ui.label.convex:before,
.ui.labels > .label.convex:before,
.ui.input > .hint.towards-left:before,
.ui.inputs > .input > .hint.towards-left:before,
.ui.menu > .item > .ui.menu.towards-left > .item:first-child:before
{
    border-left-color: inherit;
}
.ui.menu.vertical
{
    display: inline-block;

    width: 15.75em;
}
.ui.menu.vertical .item
{
    display: block;
    float: none !important;

    text-align: left;
}
.ui.menu.vertical .item + .item,
.ui.menu.vertical .item + .ui.menu + .item
{
    border-top-width: .0625em;
    border-left-width: 0;
}
.ui.menu.vertical .item:first-child
{
    border-top-right-radius: inherit;
    border-bottom-left-radius: 0;
}
.ui.menu.vertical .item:last-child
{
    border-top-right-radius: 0;
    border-bottom-left-radius: inherit;
}
.ui.menu.vertical > .item + .ui.menu
{
    font-size: 0;
    line-height: 0;

    display: block;
    overflow: hidden;

    width: 0;
    margin: 0;

    -webkit-transition: all .2s;
            transition: all .2s;

    border-width: 0;
    border-top-width: .0625em;
    border-radius: 0;
}
.ui.menu.vertical > .item + .ui.menu > .item,
.ui.menu.vertical > .item.selected + .ui.menu
{
    font-size: inherit;
    line-height: inherit;
}
.ui.menu.vertical > .item.selected + .ui.menu
{
    width: 100%;
    padding: 0 1em;
}
.ui.menu.vertical > .item + .ui.menu > .item
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    border-right-width: .0625em;
    border-left-width: .0625em;
}
.ui.menu.tabular
{
    border-width: 0;
    background-color: #fff;
}
.ui.menu.tabular > .item
{
    position: relative;
    z-index: 10;

    margin-bottom: -.0625em;

    border-width: .0625em;
    border-color: transparent;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: transparent;
    box-shadow: none;
}
.ui.menu.tabular > .item.active
{
    border-color: inherit;
    border-bottom-color: transparent;
    background-color: inherit;
}
.ui.content.tabular
{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.ui.menu.tabular + .ui.content.tabular
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: .25em;
    border-bottom-left-radius: .25em;
}
.ui.content.tabular + .ui.menu.tabular > .item
{
    margin-top: -.0625em;
    margin-bottom: auto;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}
.ui.content.tabular + .ui.menu.tabular > .item.active
{
    border-top-color: transparent;
    border-bottom-color: inherit;
}

.ui.link,
.ui.links .link
{
    border-color: transparent !important;
}

.ui.link,
.ui.button,
.ui.links .link,
.ui.buttons .button
{
    cursor: pointer;
}
.ui.links .link,
.ui.buttons .button
{
    border-radius: inherit;
}
.ui.link + .link,
.ui.button + .button,
.ui.links .link + .link,
.ui.buttons .button + .button
{
    margin-left: .5em;
}

.ui.link,
.ui.links .link
{
    position: relative;
    z-index: 0;

    overflow: hidden;

    color: #428bca;
}

.ui.link:hover,
.ui.links .link:hover,
.ui.link:focus,
.ui.links .link:focus
{
    color: #2a6496;
}
.ui.link:before,
.ui.links .link:before
{
    top: auto;
    right: 0;
    bottom: .0625em;
    left: 0;

    -webkit-transition: width .2s; /* Safari 和 Chrome */ /* Firefox 4 */ /* Opera */
            transition: width .2s; /* IE */

    border-bottom: .0625em solid #2a6496;
}

.ui.link:hover:before,
.ui.links .link:hover:before
{
    width: 100%;
}
.ui.link[href^='#']:before,
.ui.link[href^='javascript:']:before,
.ui.links .link[href^='#']:before,
.ui.links .link[href^='javascript:']:before
{
    display: none;
}

.ui.button.submit,
.ui.buttons > .button.submit
{
    color: #fff;
    border-color: #357ebd;
    background-color: #2185d0;
    box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;
}

.ui.button.submit:hover,
.ui.button.submit:focus,
.ui.buttons > .button.submit:hover,
.ui.buttons > .button.submit:focus
{
    background-color: #1678c2;
}

.ui.button.cancel,
.ui.buttons > .button.cancel
{
    color: #606060;
    background-color: #fff;
    box-shadow: 0 0 0 .0625em transparent inset, 0 0 0 0 rgba(34, 36, 38, .15) inset;
}

.ui.button.cancel:hover,
.ui.button.cancel:focus,
.ui.buttons > .button.cancel:hover,
.ui.buttons > .button.cancel:focus
{
    border-color: #e0e0e0;
    background-color: #f5f5f5;
}

.ui.check
{
    display: inline-block;

    margin: .375em 1em;
    padding: 0;

    border-width: 0;
}

.ui.check > input
{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100% !important;
    height: 100% !important;

    cursor: pointer;

    opacity: 0;
    outline: 0;

    filter: alpha(opacity=0);
}

.ui.check > i,
.ui.check > label
{
    position: relative;

    display: inline-block;
}
.ui.check > i
{
    font-style: normal;

    padding-right: .25em;
    padding-left: .25em;

    cursor: pointer;

    outline: 0;
}

.ui.check > i:before,
.ui.check > i:after
{
    font-family: bootstrap;
    font-weight: lighter;

    height: 100%;
    margin: auto;
    padding: 0;

    text-align: center;
}
.ui.check > i:after
{
    position: absolute;
    bottom: 0;
    left: .25em ;
}

.ui.check > input:focus + i:before
{
    color: #96c8da;
}

.ui.check > i:before
{
    font-size: 112%;

    z-index: 1;

    content: '\f096';

    color: #d4d4d5;
}

.ui.check > i:after
{
    z-index: 2;

    color: #000;
}

.ui.check > input[type='checkbox'] + i:before
{
    content: '\f096';
}

.ui.check.checked > input[type='checkbox'] + i:after
{
    content: '\f00c';
}

.ui.check > input[type='radio'] + i:before
{
    content: '\f1db';
}

.ui.check.checked > input[type='radio'] + i:after
{
    content: '\f00c';
}

.ui.input
{
    width: 15.75em;
}

input.ui.input,
.ui.input > input
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.ui.input > *
{
    display: table-cell;

    white-space: nowrap;
    word-break: keep-all;
}
input.ui.input,
textarea.ui.input,
.ui.input > input,
.ui.input > textarea
{
    text-align: left;

    color: #555;
    box-shadow: inset 0 .0625em .0625em rgba(0, 0, 0, .075);
}

.ui.input > input:only-child
{
    display: inline-block;
}

input.ui.input:focus,
textarea.ui.input:focus,
.ui.input > input:focus,
.ui.input > textarea:focus,
.ui.select > .ui.input:focus + .input,
.ui.select > .ui.input:focus + .select
{
    border-color: #66afe9;
    box-shadow: inset 0 .0625em .0625em rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.ui.input > input,
.ui.input > textarea
{
    width: 100%;
}
.ui.input > input,
.ui.input > textarea,
.ui.input > .ui.select
{
    min-width: 5em;
}
.ui.input > .ui.select
{
    width: 8em;
}
.ui.input > .ui.select > .ui.input
{
    width: inherit;

    border-radius: 0;
}
.ui.input > input:first-child,
.ui.input > textarea:first-child
{
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}
.ui.input > input:last-child,
.ui.input > textarea:last-child
{
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.ui.input > .ui.labels > .label
{
    display: table-cell;
    float: none !important;
}
.ui.input > .ui.label:first-child,
.ui.input > .ui.labels:first-child,
.ui.input > .ui.labels > .label:first-child
{
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ui.input > input + .ui.label,
.ui.input > input + .ui.labels
{
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}
.ui.input > input + .ui.labels > .label:last-child,
.ui.input > input + .ui.select:last-child > .ui.input
{
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.ui.input > .ui.select:first-child > .ui.input
{
    border-right-width: .0625em;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}
.ui.input > * + *
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.ui.input > .ui.select + *,
.ui.input > input + .ui.label,
.ui.input > input + .ui.labels,
.ui.input > input + .ui.select + input
{
    border-left-width: 0;
}

.ui.select,
.ui.select > .select
{
    padding: 0 !important;
}
.ui.select > .select
{
    right: 0;
    left: 0;

    border-top-width: 0;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.ui.select > .ui.input
{
    z-index: 10;

    padding-right: 1.8em;

    cursor: default;
}
.ui.select > .ui.input:focus
{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.ui.select > *[class^='fa-']
{
    position: absolute;
    z-index: 5;
    top: .375em;
    right: .5em;
    bottom: .375em;

    display: table;

    margin: auto;
}
.ui.select > .ui.input:focus + .select,
.ui.select > .ui.input:focus + .ui.input + .select,
.ui.select > .ui.input:focus + *[class^='fa-'] + .select,
.ui.select > .ui.input:focus + .ui.input + *[class^='fa-'] + .select
{
    display: block;

    border-top-right-radius: 0;
}
.ui.select > .ui.input:focus + .select > .option,
.ui.select > .ui.input:focus + .ui.input + .select > .option,
.ui.select > .ui.input:focus + *[class^='fa-'] + .select > .option,
.ui.select > .ui.input:focus + .ui.input + *[class^='fa-'] + .select > .option
{
    line-height: inherit;
}
.ui.select.towards-up > .ui.input:focus,
.ui.select.towards-up > .ui.input:focus + .ui.input
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}
.ui.select.towards-up > .select
{
    top: auto;
    bottom: 100%;
}
.ui.select.towards-up > .select
{
    border-top-width: .0625em;
    border-bottom-width: 0;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em !important;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.ui.content
{
    min-width: 15.75em;
    max-width: 100%;
    min-height: 5em;

    text-align: left;
}
.ui.content + .ui.content
{
    margin-top: .75em;
}
.ui.content.hint.towards-up
{
    border-top-width: .375em;
}
.ui.content.hint.towards-right
{
    border-right-width: .375em;
}
.ui.content.hint.towards-down
{
    border-bottom-width: .375em;
}
.ui.content.hint.towards-left
{
    border-left-width: .375em;
}

.ui.input > .hint,
.ui.inputs > .input > .hint
{
    position: absolute;
    z-index: 2016;

    margin: auto;

    background-color: #fff;
}
.ui.input > .hint + *,
.ui.inputs > .input > .hint + *
{
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.ui.input > .hint.towards-up,
.ui.input > .hint.towards-down,
.ui.inputs > .input > .hint.towards-up,
.ui.inputs > .input > .hint.towards-down
{
    right: 0;
    left: 0;
}
.ui.input > .hint.towards-left,
.ui.input > .hint.towards-right,
.ui.inputs > .input > .hint.towards-left,
.ui.inputs > .input > .hint.towards-right
{
    top: 0;
    bottom: 0;
}
.ui.input > .hint.towards-up > *[class^='fa-'],
.ui.input > .hint.towards-down > *[class^='fa-'],
.ui.inputs > .input > .hint.towards-up > *[class^='fa-'],
.ui.inputs > .input > .hint.towards-down > *[class^='fa-']
{
    display: block;
}
